* {
    box-sizing: border-box;
}

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

canvas {
    display: block;
}

.debug {
    display: none;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}

.controls {
    position: absolute;
    z-index: 1;
    padding: 10px;
    width: 250px;
}

.top {
    top: 0;
}

.bottom {
    bottom: 0;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.controls .control {
    position: relative;
}

.controls .button {
    width: 50px;
    height: 50px;
    display: block;
    position: relative;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    background-color: #eee;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
}

.controls .control:last-of-type .button {
    margin-bottom: 0;
}

.controls .button:hover {
    background-color: #f2f2f2;
}

.controls .button:active {
    background-color: #e8e8e8;
}

.controls .button img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.controls .callout {
    width: auto;
    display: none;
    position: absolute;
    left: 60px;
    top: 50%;
    margin-top: -13px;
    background-color: #f2f2f2;
    padding: 4px 8px;
    border: 1px solid #ccc;
    border-radius: 2px;
}

.controls .callout::after {
    content: '';
    width: 5px;
    height: 5px;
    position: absolute;
    left: -4px;
    top: 50%;
    margin-top: -3px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-width: 0 0 1px 1px;
    transform: rotateZ(45deg);
}

.controls .button:hover + .callout {
    display: block;
}

body.select .button.select,
body.vertex .button.vertex,
body.edge .button.edge
{
    border: 2px solid #0ac0f7;
}

.copyright {
    position: absolute;
    padding: 10px;
    color: #ccc;
}

.dialog {
    display: none;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    background-color: #fff;
    padding: 20px;
    border-radius: 3px;
}

.dialog.show {
    display: block;
}

.dialog.mathematica {
    width: 700px;
    height: 400px;
    margin-left: -350px;
    margin-top: -200px;
}

.dialog.mathematica textarea {
    width: 100%;
    height: 290px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 2px;
    resize: none;
    font-family: monospace;
}

.dialog .top-bar {
    width: 100%;
    height: 20px;
    margin-bottom: 20px;
}

.dialog .top-bar .title {
    font-size: 18px;
    font-weight: bold;
}

.dialog .top-bar .close {
    width: 24px;
    height: 24px;
    margin-top: -2px;
    border: 1px solid #666;
    float: right;
    border-radius: 2px;
    border: 1px solid #ddd;
    cursor: pointer;
    background-image: url('images/close.svg');
    background-repeat: no-repeat;
    background-position: center center;
}

.dialog .top-bar .close:active {
    background-color: #f8f8f8;
}

.overlay {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.dialog.show ~ .overlay {
    display: block;
}
